useDynLib(PythonInR)
importFrom(stats, setNames)
importFrom("pack", unpack)
import(methods)
import(R6)
##import(namespace)

S3method("print", "pyFunction")

##S3method("as.simple_triplet_matrix", "matrix.csc")

S3method("[", "PythonInR_Tuple")
S3method("[<-", "PythonInR_Tuple")

S3method("[", "PythonInR_List")
S3method("[<-", "PythonInR_List")

S3method("[", "PythonInR_Dict")
S3method("[<-", "PythonInR_Dict")

export(autodetectPython,
       pyAttach,
       pyConnect,
       pyIsConnected,
       pyVersion,
       pyExit,
       pyExec,
       pyExecg,
       pyExecp,
       pyExecfile,
       pyPrint,
       pyCall,
       pyGet0,
       pyGet,
       pySet,
       pyType,
       pyImport,
       pyHelp,
       pyDir,
       pyObject,
       pyFunction,
       pyDict,
       pyList,
       pyTuple,
       pyOptions,
       BEGIN.Python)
